packer_cache/*
output-virtualbox-iso/*
distfiles.tar
install-amd64-minimal-latest.iso*
latest-iso.txt
latest-stage3-amd64-hardened+nomultilib.txt
portage-latest.tar.xz*
stage3-amd64-hardened+nomultilib-*
